/* Borders -- TURN OFF AT END */
header, header span, header img, #title-box, #title-box h2, #title-box h1, nav, .item img, .item span {
    border: 1px solid red;
}
/* General Styling */
html {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    background-color: gray;
}
.container {
  width: 960px;
  margin: 0 auto;
}
/* Header */
header {
    background-color: black;
    color: white;
    font-size: 1rem;

    display: flex;
    align-items: center;
}

header img {
    height: 1.5rem;
    margin: 0 0.5rem;
}

header span {
    display: inline-block;
    margin: 0.66rem 0.5rem;
}

/* Title Section */
#title-section {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
}

#title-box {
    background-color: black;
    width: 20rem;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
}

#title-box h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

#title-box h1 {
    font-size: 2rem;
    font-weight: bold;
}
/* Nav Bar Section */
ul {
    display: flex;
    justify-content: space-around;
    background-color: firebrick;
}

li {
    margin: 0.75rem 0;
}
/* Store Items Section */
.item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.item span {
  background-color: black;
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
}

.item-image {
  border: 4px solid black;
  background-color: white;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-image img {
  max-width: 9rem;
}

#item-boxes {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

/* Store Info Section */
.location span, .hours-info span {
  border: 1px solid red;
  display: inline-block;
  padding: 1rem 2rem;
}

.location-info, .hours-info {
  border: 1px solid black;
  width: 35%;
}

.store-info {
  display: flex;
  justify-content: space-between;
}
